{% extends 'layout.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block content %}
	<div class="container" style="margin-top:1%; margin-bottom:1%; margin-top:5%;">
		<h3 class="card-title">{% trans %}CourseTitle{% endtrans %}</h3>
		<ul class="nav nav-tabs bg-primary rounded">
			{% set type = app.request.attributes.get("type") %}
			{% for courseType in coursesType %}
				<li>
					<a style="margin: 5px !important;" class="white" href="{{ path('course',{ type : courseType.getId()}) }}">{{courseType.getName() | upper}}</a>
				</li>
			{% endfor %}
		</ul>
		{% for course in courses %}
			<div class="jumbotron" style="margin: 4%;" id="color-app">
				<h1 class="display-4" style="text-align: center;margin-top:-6%;">{{course.getName()}}</h1>
				<hr class="my-4">
				<div class="row">
					<div class="col-sm-4">
						<p class="lead">{{course.getDescription()}}</p>
					</div>
					<div class="col-sm">
						<img class="rounded float-right" style="height: 300px !important; width: 100% !important;" src="{{ asset('images/courses/' ~ course.getImage()) }}">
					</div>
				</div>
				<hr class="my-4">
				<a style="margin-bottom:-6%;" class="btn btn-primary btn-lg" href="#" role="button">{% trans %}ButtonReadMore{% endtrans %}</a>
			</div>
		{% endfor %}
	{% endblock %}
