{% extends 'layout.html.twig' %}

{% block title %}Course index
{% endblock %}

{% block content %}
	<div class="container" style="margin-top:1%; margin-bottom:1%;padding:10px;">
		<h1>Course index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Step_one</th>
					<th>Step_two</th>
					<th>Step_three</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for course in courses %}
					<tr>
						<td>{{ course.id }}</td>
						<td>{{ course.name }}</td>
						<td>{{ course.description }}</td>
						<td>{{ course.stepOne }}</td>
						<td>{{ course.stepTwo }}</td>
						<td>{{ course.stepThree }}</td>
						<td>
							<a href="{{ path('course_show', {'id': course.id}) }}">show</a>
							<a href="{{ path('course_edit', {'id': course.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('admin') }}">back to admin</a><br>
		<a href="{{ path('course_new') }}">Create new</a>
	</div>
{% endblock %}
