{# {% extends "layout.html.twig" %}

{% block content %} #}
<div class="modal" id="modalLogin" tabindex="-1" role="dialog" data-target="#modalLogin">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="color-app">
			<div class="modal-body">
				<form method="post" action="{{ path('app_login')}}">
					{% if app == null %}
						<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
						<label for="inputUsername">Username</label>
						<input type="text" value="" name="username" id="inputUsername" class="form-control" required autofocus>
						<label for="inputPassword">Password</label>
						<input type="password" name="password" id="inputPassword" class="form-control" required>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="checkbox mb-3">
							<label>
								<input type="checkbox" name="_remember_me">
								Remember me
							</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Cerrar</button>
							<button type="submit" id="buttonLogin" class="btn btn-primary">Entrar</button>
						</div>
					{% else %}
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}
						{% if app.user %}
							<div class="mb-3">
								You are logged in as
								{{ app.user.username }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}
						<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
						<label for="inputUsername">Username</label>
						<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
						<label for="inputPassword">Password</label>
						<input type="password" name="password" id="inputPassword" class="form-control" required>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="checkbox mb-3">
							<label>
								<input type="checkbox" name="_remember_me">
								Remember me
							</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Cerrar</button>
							<button type="submit" id="buttonLogin" class="btn btn-primary">Entrar</button>
						</div>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
</div>
{# {% endblock %} #}
